@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bright-color: #60d6ff;
  --dark-color: #101820;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
}

.app-container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.to-do-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  border-radius: 8px;
  width: 500px;
  background-color: var(--dark-color);
}

/*
/////////////////////////////[todo-input]
*/
.todo-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.todo-input-field {
  border: none;
  padding: 1rem;
  background-color: transparent;
  border: 0.5px solid #60d6ff;
  color: #60d6ff;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}

.todo-input-field:active {
  border: 1px solid #60d6ff;
  outline: none;
}

.todo-input-field::placeholder {
  color: #60d7ff75;
}

.todo-input-button,
.todo-list-done-task button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
  color: var(--dark-color);
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background-color: var(--bright-color);
  cursor: pointer;
}

.todo-input-button:hover {
  background-color: #30cbff;
}

/*
/////////////////////////////[todo-list]
*/

.todo-list-activities {
  padding-right: 0.8rem;
}

.todo-list-title {
  text-align: center;
  margin-bottom: 1.2rem;
  color: var(--bright-color);
}

.todo-sorting-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.todo-sorting-buttons p {
  background-color: #60d6ff;
  color: var(--dark-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-align: center;
}

.todo-sorting-buttons p:hover {
  background-color: #30cbff;
}

.todo-list-activities {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 400px;
  overflow-y: scroll;
}

.todo-list-activities.center {
  list-style: none;
  color: #1c1c1c67;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  height: 400px;
  overflow-y: scroll;
}

.todo-list-activities::-webkit-scrollbar {
  z-index: 1;
  width: 10px; /* Set the width of the scrollbar */
}

.todo-list-activities::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

.todo-list-activities::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.todo-list-activity {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 80fr 20fr;
  column-gap: 0.6rem;
  line-height: 1.5;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  color: var(--bright-color);
  border: 0.5px solid #28a9d4;
}

.todo-list-text {
  word-wrap: break-word;
  width: 100%;
}

.todo-list-text.list-checked {
  color: #f4f4f4;
  text-decoration: line-through;
}

.todo-list-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.2rem;
}

.todo-list-actions button {
  padding: 0.2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.todo-edit,
.todo-delete,
.todo-edit-complete {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #60d6ff;
  border: none;
}

/* TODO LIST EDIT */
.todo-list-edit {
  display: flex;
  gap: 1.2rem;
}

.todo-list-edit-text {
  width: 75%;
  border: none;
  padding: 0.8rem;
  border: 0.5px solid rgba(51, 51, 51, 0.467);
  font-family: "Poppins", sans-serif;
}

.todo-list-edit-button {
  border: none;
  color: var(--dark-color);
  font-family: "Poppins", sans-serif;
  background-color: #60d6ff;
  padding-inline: 0.8rem;
}

/* todo-list-done-task */
.todo-list-done-task {
  margin-top: 1.6rem;
  display: grid;
  column-gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
}

/*
/////////////////////////////[Check Icon]
*/

.check-icon {
  font-size: 2.4rem;
  color: #60d6ff;
}
